body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

button{
  background: transparent;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  background: #FB8F1D;
  color: white;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  transition: all 0.3s ease-in-out;
}

button:focus{
  outline: none;
}
button:hover{
  opacity: 0.6;
  -webkit-box-shadow: 4px 4px 21px -3px rgba(85,127,145,1);
  -moz-box-shadow: 4px 4px 21px -3px rgba(85,127,145,1);
  box-shadow: 4px 4px 5px -3px rgba(85,127,145,1);
}

.main {
  max-width: 1600px;
}
header{
  position: relative;
  /* margin-bottom: 270px; */
}
.header-container{
  max-width: 1219px;
  margin-top: 35px;
  margin-left: 190px;
  margin-right: 190px;
}

.header__top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top__logo:hover{
    /* -webkit-box-shadow: 1px 0px 14px -3px rgba(85,127,145,1);
  -moz-box-shadow: 1px 0px 14px -3px rgba(85,127,145,1);
  box-shadow: 1px 0px 14px -3px rgba(85,127,145,1); */
  opacity: 0.9;
}

.header-top__nav{
  margin-right: 34px;
  margin-left: auto;
}

.header-nav__link{
  color: #B8BECD;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  transition: all 0.3s ease-in-out;
}

.header-nav__link:hover{
  color: #8f8f91; 
  /* color: #202336;
  font-weight: 500; */
}

.header-nav__link + .header-nav__link{
  margin-left: 35px;
}

.header-nav__link--active{
  color: #202336;
  font-weight: 500;
}
.header-nav__link--active:hover{
  color: #202336;
}

.header-auth__button + .header-auth__button{
  margin-left: 18px;
}

.header-auth__button--register{
  padding: 14.5px 36px;
}

.header-auth__button--login{
  color: #FB8F1D;
  background: white;
  padding: 14.5px 46px;
}

/* end of header-top */

.header-section{
  margin-top: 125px;
}

.header-section-container{
  width: 657px;
}

.header-section__title{
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
  mix-blend-mode: normal;
}

.header-select{
  margin-top: 74px;
}

.header-select__title{
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #202336;
}
.header-select-line{
  width: 32px;
  height: 2px;
  background: #202336;
  border-radius: 4px;
  margin-top: 21px;
  margin-bottom: 48px;
}

.header-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  max-width: 470px;
  margin-top: 0;
  margin-bottom: 51px;
}

.header-form__menu:focus{
  outline: none;
}
.header-form__menu:hover{
  -webkit-box-shadow: 1px 0px 14px -3px rgba(85,127,145,1);
  -moz-box-shadow: 1px 0px 14px -3px rgba(85,127,145,1);
  box-shadow: 1px 0px 14px -3px rgba(85,127,145,1);
  /* opacity: 0.8; */
}
.header-form__menu + .header-form__menu{
  margin-top: 35px;
}
.header-form__menu{
  position: relative;
}
.header-form__submenu-link{
  display: none;
  position: absolute;
  z-index:150;
}

.active .header-form__submenu-link{
  display: flex;
}
.active .header-form__submenu-link--default{
  background: url('../img/arrowUp.svg') no-repeat top 23px right 31px;
  background-size: 9.5px;
}

.header-form__submenu-link,
.header-form__submenu-link--default{
  border: 0.8px solid #AFB0B9;
  color: #AFB0B9;
  border-radius: 6px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: #4A4C53;
  mix-blend-mode: normal;
  width: 158px;
  padding: 21px 31px;
  cursor: pointer;
  /* transition: all 0.5s ease-in-out; */
  appearance: none;

  background: url('../img/arrow.svg') no-repeat top 23px right 31px;
}
.header-form__submenu-link{
 border-radius: 0px;
}
.header-form__submenu-link:hover{
  background-color:#7a7ae0;
}
.header-form__submenu-link--1el{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: url('../img/beach_118051.svg')no-repeat right 18px top 10px;
  background-color: white;
  background-size: 35px;
  top: 68px;
}
.header-form__submenu-link--2el{
  background: url('../img/japan_carp_fish_koi_nature_water_icon_127323.svg')no-repeat right 18px top 10px;
  background-size: 35px;
  top: 126px;
  border-top: 0px;
  background-color: white;
}
.header-form__submenu-link--3el{
  background: url('../img/kisspng-clip-art-queen-england-5b0cfb5f626e14.0956023215275774394032.png')no-repeat right -195px top -15px;
  background-size: 267px;
  top: 184px;
  border-top: 0px;
  background-color: white;
}
.header-form__submenu-link--4el{
  background: url('../img/kangaroo-icon-logo-vector-template_6711-166.jpg')no-repeat right -112px top -15px;
  background-size: 210px;
  top: 241px;
  border-top: 0px;
  background-color: white;
}
.header-form__submenu-link--5el{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: url('../img/comics-captain-america-shield_97467.png')no-repeat right 18px top 10px;
  background-size: 35px;
  top: 299px;
  border-top: 0px;
  background-color: white;
}
/* end of first block */
.header-form__submenu-link--1ea{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: url('../img/ski.svg')no-repeat right 13px top 7px;
  background-size: 45px;
  top: 68px;
  background-color: white;
}
.header-form__submenu-link--2ea{
  background: url('../img/mountain.svg')no-repeat right 18px top 10px;
  background-size: 35px;
  top: 126px;
  border-top: 0px;
  background-color: white;
}
.header-form__submenu-link--3ea{
  background: url('../img/swimming_icon_124469.png')no-repeat right 12px top 8px;
  background-size: 45px;
  top: 184px;
  border-top: 0px;
  background-color: white;
}
.header-form__submenu-link--4ea{
  background: url('../img/binoculars_78394.svg') no-repeat right 15px top 7px;
  background-size: 45px;
  top: 241px;
  border-top: 0px;
  background-color: white;
}
.header-form__submenu-link--5ea{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: url('../img/Sauna_icon-icons.com_60007.svg')no-repeat right 15px top 6px;
  background-size: 45px;
  top: 299px;
  border-top: 0px;
  background-color: white;
}
/* end of second block */

.header-form__submenu-link--1eg{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: url('../img/Baby_Bottle_icon-icons.com_68791.svg')no-repeat right 13px top 7px;
  background-size: 45px;
  top: 68px;
  background-color: white;
}
.header-form__submenu-link--2eg{
  background: url('../img/студент.svg')no-repeat right 9px top 3px;
  background-size: 55px;
  top: 126px;
  border-top: 0px;
  background-color: white;
}
.header-form__submenu-link--3eg{
  background: url('../img/профессор.svg')no-repeat right 12px top 8px;
  background-size: 45px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  top: 184px;
  border-top: 0px;
  background-color: white;
}
/* end of third block */



.header-select__button{
  padding: 17.5px 59px 17.5px 50px;
  line-height: 17px;
  font-weight: 700;
}

/* end of select */

.header-section__bg{
  position: absolute;
  top: 167px;
  right: 105px;
  /* opacity: 0.3; */
}

.header-section__circle--center{
  position: absolute;
  left: 732px;
  top: 783px;
}
.header-section__circle--left{
  position: absolute;
  left: 80px;
  top: 494px;
}
.header-section__circle--crest{
  position: absolute;
  left: 657px;
  top: 220px;
}

/* end of header */

.section1{
  position: relative;
  margin-top: 382px;
}


.section1__bg{
  position: absolute;
  top: -96px;
  left: 141px;
}

.section1__crest{
  position: absolute;
  top: -89.56px;
  left: 776px;
}

.section1__circle--small{
  position: absolute;
  top: 266px;
  left: 1185px;
}

.section1-block{
  margin-top: 85px;
  margin-right: 247px;
  margin-left: auto;
  max-width: 450px;
}

.section1__title{
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  mix-blend-mode: normal;
  margin-bottom: 20px;
}
.section1__description{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7D7987;
  padding: 0;
  margin: 0;
  mix-blend-mode: normal;
  margin-bottom: 33px;
}

.section1__button{
  padding: 16px 37px 16px 39px;
}

/* section1 end */
.section2{
    position: relative;
    margin-top: 397px;
}

.section2__circle--top{
  position: absolute;
  top: 0;
  left: 1149px;
}
.section2__circle--bot{
  position: absolute;
  top: 492px;
  left: 743px;
}
.section2__crest{
  position: absolute;
  left: 121px;
  top: 309px;
}
.section2-container{
  margin-left: 191px;
  margin-right: 191px;
}
.section2__top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 56px;
}
.section2__title{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  mix-blend-mode: normal;
  padding: 0;
  margin: 0;
}
.section2__show{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  color: #FB8F1D;
  mix-blend-mode: normal;
  padding-right: 15px;
  background: url('../img/arrowRight.svg') no-repeat top 50% right 0;
  transition: opacity 0.3s ease-in-out;
}
.section2__show:hover{
  opacity: 0.6;
}

.section2__cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 44px;
}
.section2__card--link:hover{
  /* opacity: 0.9;
  -webkit-box-shadow: 4px 4px 21px -3px rgba(85,127,145,1);
  -moz-box-shadow: 4px 4px 21px -3px rgba(85,127,145,1);
  box-shadow: 4px 4px 5px -3px rgba(85,127,145,1); */
  transform: translateY(-5px);
}
.section2__card{
  background: url('../img/section2/Raja.png');
  position: relative;
  min-width: 261px;
  min-height: 332px;
  transition: all 0.3s ease-in-out;
}
.section2__card--2el{
  background: url('../img/section2/fanjingshan.png');
}
.section2__card--3el{
  background: url('../img/section2/Veyvey.png');
}
.section2__card--4el{
  background: url('../img/section2/Skadar.png');
}
.section2__card + .section2__card{
  margin-left: 25px;
}
.section2__card--descr{
  position: absolute;
  width: 120px;
  height: 56px;
  left: 0;
  top: 276px;
  padding: 11px 12px 5px 0px;
  background: #FFFFFF;
  border-radius: 0px 6px 0px 0px;
}
.section2__card--name{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #042521;
  mix-blend-mode: normal;
  padding: 0;
  margin: 0;
}
.section2__card--country{
  color: #7D7987;
  font-weight: 400;
  margin: 0;
}
/* end of section2 */

.section3{
  margin-top: 193px;
  position: relative;
}

.section3__bg{
  position: absolute;
  top: -152px;
  left: 770px;
}

.section3__crest--top{
  position: absolute;
  top: -29px;
  right: 154px;
}

.section3__crest--bot{
  position: absolute;
  top: 315px;
  left: 656px;
}

.section3__circle{
  position: absolute;
  top: -47px;
  left: 285px;
}

.section3-block{
  margin-top: 325px;
  margin-right: auto;
  margin-left: 240px;
  max-width: 450px;
}

.section3__title{
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  mix-blend-mode: normal;
  margin-bottom: 20px;
}
.section3__description{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7D7987;
  padding: 0;
  margin: 0;
  mix-blend-mode: normal;
  margin-bottom: 33px;
}

.section3__button{
  padding: 16px 37px 16px 39px;
}
/* section3 ends */

.section4{
  position: relative;
  margin-top: 248px;
  margin-bottom: 200px;
}
.section4__circle--left{
  position: absolute;
  left: 96px;
  top: 189px;
}
.section4-wrapper{
  margin-left: 191px;
  margin-right: 191px;
  padding-left: 50px;
  padding-right: 50px;
}
.report__title{
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  mix-blend-mode: normal;
}
.report__card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.report-card__text{
  max-width: 450px;
}

.report-card__stars{
  display: flex;
  align-items: center;
  margin-bottom: 30.05px;
}
.report-card__star + .report-card__star{
  padding-left: 15.8px;
}
.report-card__star{
  transition: opacity 0.8s ease-in-out;
}
.report-card__star:hover{
  opacity: 0.2;
}
.report-card__descr{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  mix-blend-mode: normal;
  margin: 0;
  margin-bottom: 40px;
}

.report-card__name{
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
  color: #000000;
  mix-blend-mode: normal;
}
.report-card__status{
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.85);
  mix-blend-mode: normal;
}
.report-card__block{
  position: relative;
}
.report-card-photo{
  border-radius: 15px;
}
.section4__circle--right{
  position: absolute;
  top: -17px;
  right: -21px;
  width: 42px;
  height: 42px;
  z-index: -100;
}
.section4__crest{
  position: absolute;
  bottom: -10px;
  left: -12px;
  width: 32px;
  height: 32px;
  z-index: 100;
  transform: rotate(8.17deg);
}
.report-card__slider{
  position: absolute;

  bottom: 4px;
  right: 0;

  width: 102px;
  height: 40px;

  background: #FFFFFF;
  border-radius: 16px 0px 0px 0px;  
  padding-top: 20px;
  padding-left: 30px;

  cursor: pointer;
}
.report-card__slide:hover{
  opacity: 0.6;
}
.report-card--prev{
  width: 40px;
  height: 40px;

  border-radius: 16px 0px 0px 0px;  
  padding-right: 15px;
}
.report-card--second{
  display: flex;
}
.hidden{
  display: none;
}

/* end of section4 */

.section5{
  position: relative;
  min-height: 684px;
  margin-bottom: 196px;
}
.section5__crest{
  position: absolute;
  top: 0;
  left: 644px;
}
.section5__circle--left{
  left: 143px;
  top: 402px;
  position: absolute;
}
.section5__circle--bot{
  left: 980px;
  bottom: 0;
  position: absolute;
}

.section5-container{
  margin-left: 191px;
  margin-right: 191px; 
  min-height: 684px;
}

.section5__top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 56px;
}
.section5__title{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  mix-blend-mode: normal;
  padding: 0;
  margin: 0;
}
.section5__show{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  color: #FB8F1D;
  mix-blend-mode: normal;
  padding-right: 15px;
  background: url('../img/arrowRight.svg') no-repeat top 50% right 0;
  transition: opacity 0.3s ease-in-out;
}
.section5__show:hover,
.section5__card--more:hover{
  opacity: 0.6;
}

.section5__cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.section5__card--link:hover{
  /* opacity: 0.9;
  -webkit-box-shadow: 4px 4px 21px -3px rgba(85,127,145,1);
  -moz-box-shadow: 4px 4px 21px -3px rgba(85,127,145,1);
  box-shadow: 4px 4px 5px -3px rgba(85,127,145,1); */
  transform: translateY(-5px);
}
.section5__card{
  max-width: 261px;
  height: 330px;
  transition: all 0.3s ease-in-out;
}
.section5__card--photo{
  height: 231px;
  margin-bottom: 13px;
  border-radius: 8px;
}
.section5__card + .section5__card{
  padding-left: 20px;
}

.section5__card--title{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #042521;
  mix-blend-mode: normal;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}
.section5__card--text{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;  
  color: #7D7987;  
  mix-blend-mode: normal;
}

.section5__card--more{
  padding: 0;
  margin: 0;
  margin-top: 23px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #FB8F1D;
  mix-blend-mode: normal;
}
/* end of section 5 */
footer{
  background: #F9F9FB;
  min-height: 482px;
}
.footer-container{
  margin-left: 191px;
  margin-right: 191px;
  padding-top: 78px;
}
.footer-top{
  display: flex;
  margin-bottom: 81px;
  align-items: center;
  justify-content: space-between;
}
.footer-left{
  max-width: 391px;
}
.footer-left__logo{
  margin-bottom: 26px;
  transition: all 0.2s ease-in-out;
}
.footer-left__logo:hover{
  opacity: 0.9;
}
.footer-left__text{
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #848484;
  mix-blend-mode: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
}
.footer-left__rights{
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  mix-blend-mode: normal;
  color: #848484;
  padding: 0;
  margin: 0;
}
/* end of footer-left */
.footer__links{
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.footer__link-container{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.footer__link-container + .footer__link-container{
  padding-left: 128px;
}
.footer-link__header{
  padding: 0;
  margin: 0;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 60px;
  color: #000000;
  mix-blend-mode: normal;
}
.footer-link{
  padding: 0;
  margin: 0;
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
  mix-blend-mode: normal;
  transition: color 0.3s ease-in-out;
}
.footer-link:hover{
  color:#4A4C53;
}
/* end of footer-links */

.footer__media{
  border-top: 0.6px solid #C4C4C4;
  padding-top: 30px;
  padding-bottom: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__media--link{
  transition: all 0.2s ease-in-out;
}
.footer__media--link:hover{
  opacity: 0.8;
}
.footer__media--link + .footer__media--link{
  padding-left: 35px;
}


